@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    min-height: 70vh;
    width: 100%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
  
.list-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
